<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="gotoMain()" *ngIf="config.gameInProgress">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand no-pointer" href="javascript:void(0);"><i class="fa fa-question-circle" aria-hidden="true"></i> Number Guess</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" *ngIf="config.gameInProgress">
                <li><a [routerLink]="['Main']"><i class="fa fa-sign-out" aria-hidden="true"></i> Quit Game</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>