
<div class="row" *ngIf="showGame()">
    <div class="col-sm-12 col-md-offset-3 col-md-6">
        <h6>Players:</h6>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let player of game.getPlayers(), let i = index" [ngClass]="{active: i === index}">
                {{player.name}}</li>
        </ul>
    </div>

    <div class="col-sm-12 col-md-offset-3 col-md-6">
        <h1 *ngIf="!previousResultExact()" class="text-center">The hidden number is {{lowBound}} to {{highBound}}</h1>

        <!-- Cpu Player -->
        <div *ngIf="!showResults">
            <div class="alert alert-danger" role="alert" *ngIf="previousResultInvalid()">
                Please enter a number from {{lowBound}} to {{highBound}}
            </div>
            
            <h5>{{name}}, please enter your guess:</h5>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Guess" [(ngModel)]="userGuess">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-block" (click)="submitGuess()">&nbsp;OK&nbsp;</button>
                </span>
            </div>
            
        </div>

        <div *ngIf="showResults" class="text-center">
            <h2 *ngIf="!previousResultExact()">{{name}} guessed {{previousResult.guess}}, which was too
                <span *ngIf="previousResultLow()">low.</span>
                <span *ngIf="previousResultHigh()">high.</span>
            </h2>
            
            <h1 *ngIf="previousResultExact()">{{name}} guessed {{previousResult.guess}} correctly!
                {{name}} wins!
            </h1>
            
            <a *ngIf="previousResultExact()" class="btn btn-lg btn-success btn-block" [routerLink]="['Main']" role="button">Continue</a>
        </div>
    </div>
</div>
