<h3>Players</h3>

<div class="input-group" *ngFor="let user of users, let i = index">
    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user" aria-hidden="true" *ngIf="user.isPlayer">&nbsp;</i><i class="fa fa-laptop" aria-hidden="true" *ngIf="!user.isPlayer"></i></span>
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.name" readonly *ngIf="!user.isPlayer">
    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.name" *ngIf="user.isPlayer">
    <span class="input-group-btn">
        <button class="btn btn-danger" type="button" (click)="removeUser(i)">&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>&nbsp;</button>
    </span>
</div>

<br />

<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addHuman()">
            <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs"> Add Human</span>
        </button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addCpu()">
            <i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-laptop" aria-hidden="true"></i><span class="hidden-xs"> Add Computer</span>
        </button>
    </div>
</div> 

<br />

<button type="button" class="btn btn-success btn-lg btn-block" *ngIf="users.length >= 2" (click)="startGame()"><i class="fa fa-play" aria-hidden="true"></i> Play</button>
<button type="button" class="btn btn-success btn-lg btn-block" *ngIf="users.length < 2" disabled><i class="fa fa-play" aria-hidden="true"></i> Play</button>

<br />
<br />

<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="list-group">
            <a href="http://www.keithott.com/" class="list-group-item list-group-item-danger" target="_blank">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-gift fa-4x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Want More?</h4> Tap here to visit KeithOtt.com for more free apps, utilities, videos, and more!
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>